@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* Page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1%;
}

/* Setting a background image to cover the whole screen of any device */
.main_body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background_image.jpg");
}

body{
    min-height: 90vh;
    font-family: 'Raleway', sans-serif;
    color: #000;
    background: #95780F;
}

/* Styling for the quiz container */
#quiz_background {
    background: #F0EDE2;
    width: 700px;
    height: 650px;
    padding: 5%;
    position: relative;
    box-shadow: 0px 30px 50px -10px rgba(0,0,0,0.6);
}

/* The main sentence explaining the quiz */
.quiz_title {
    text-align: center;
    font-size: 23px;
}

/* The question styling as the questions it's self changes */
#question {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 5%;
    height: 40px;
    color: #000;
}

.options {
    margin: 5%;
}

/* Option button stylying */
.opt_btn {
    font-weight: 600;
    color: #F0EDE2;
    background: #95780F;
    padding: 0.5rem;
    margin: 1rem 1rem auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-color: #CECECE;
}

/* option button hovering to keep the visitors attention */
.opt_btn:hover {
    border-color: #62615E;
    box-shadow: 0.5px 3px 1px 2px #CECECE;
}

.opt_btn:active {
    transform: scale(1);
} */

.start_btn .next_btn {
    background-color: #CECECE;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: ease-in-out;
    padding: 10% 20%;
    margin: 10%;
}

/* The start/ next button hover to keep the visitor's attention */
.btn:hover {
    background-color: #000;
    color: #F0EDE2;
}


/* Highlighting if the visitor picks the right or wrong answer once they click on their choice*/
.correct {
    background-color: #49581A;
}

.wrong {
    background-color: #821919;
}

/* To allow the visitor to keep track of their score as they go on. */
.score_area button:active {
    transform: scale(1);
}

.result {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result i {
    margin: 5%;
    background-color: #95780F;
    color: #000;
}

.score {
    font-size: 15px;
    font-family:'Raleway', serif;
    font-weight: 400;
    color: #0000;
}

.progress_bar {
    width: 360px;
    height: 12px;
    border: 2px solid #000;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}

.progress_bar_x {
    height: 12px;
    background-color: #899851;
    width: 0%;
}

/* Hides everything but the title, and the start button for the quiz */
.hide {
    display: none;
}
